/**
 * ==============================
 * Colours
 * ==============================
 */
$blue:          #3792ab;
$blueDark:      #232a34;
$green:         #6bb7a5;
$greenDark:			#3b7f6f;
$orange:				#f8a02e;
$white:         #fff;
$black:         #000;

$body-bg:      #fff;
$text-color:    #333;

$link-color:             #08c;
$link-hover-color:       darken($link-color, 15%);

/**
 * ==============================
 * Typography
 * ==============================
 */
$sansFontFamily:        "source-sans-pro", Helvetica, Arial, sans-serif;
$headlineFontFamily:    "futura-pt", Helvetica, Arial, sans-serif;

$font-size-base: 14px;
$line-height-base: 1.45;
$type-weight-base: 300;

$font-size-h1: 26px; 
$line-height-h1: 1.23; 

$font-size-h2: 30px;
$line-height-h2: 1.4; 

$font-size-h3: 62px;
$line-height-h3: 1.4;

$font-size-h4: 36px;
$line-height-h4: 1.5;

$font-size-h5: 22px;
$line-height-h5: 1.3;

$font-size-h6: 14px;
$line-height-h6: 1.3;


/**
 * ==============================
 * Grid
 * ==============================
 */
 
// Mobile
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1100px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);


//== Grid system
//
$grid-columns:              12;
$grid-gutter-width:         26px;
$grid-float-breakpoint:     $screen-sm-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Container sizes

$container-tablet:             ((720px + $grid-gutter-width));
$container-sm:                 $container-tablet;

$container-desktop:            ((940px + $grid-gutter-width));
$container-md:                 $container-desktop;

$container-large-desktop:      ((980px + $grid-gutter-width));
$container-lg:                 $container-large-desktop;

