.footer{
  height:300px;
  background:$green;
  padding-top: 60px;
  text-align: center;
  
  p{margin: 0}

  p,a{color:#fff}
  
  .poweredby{
    color:$text-color;
    
    a{color:$text-color}
  }
}