.home-template, .archive-template, .tag-template{ 
	.content{
	  width: 100%;
	  max-width: 930px;
	  margin: 30px auto;
	  text-align:center;
	  overflow: hidden;
	  
	   article{
	    width: 290px;
	    height: 420px;
	    text-align: left;
	    background: $blueDark;
	    margin: 0 10px 20px;
	    margin: 0 0 20px;
	    padding: 0 0 60px;
	    position: relative;
	    opacity: 0;
	    
	    > a{
	      display: block;
	      
	      &:hover{
	        time,p{color:$blue}
	      }
	    }
	    
	    a,p,span,i{color:#fff}
	  }
	  
	  .thumbnail{
	    width:100%;
	    display: block;
	    padding-top: 60%;
	    background-position: center center;
	    background-size: cover;
	    background-repeat: no-repeat;
	  }
	  
	  .post-excerpt{
	    padding: 20px;
	    p.bold{
		    font-weight: 700;
		    margin-top: 6px;
		   }
	    p{margin: 0}
	  }
	  
	  time{
		  font-weight: bold;
		  color:$blue;
		 }
	  
	  footer{
	    width: 100%;
	    padding: 0 20px 20px;
	    position: absolute;
	    bottom: 0;
	    
	    span{float: right}
	  }
	}
}

/**
 * ==============================
 * Pagination
 * ==============================
 */
.pagination{
	text-align: center;
	margin-bottom: 50px;
	
	a{
		border: 1px solid $blue;
		padding: 14px 20px 12px;
		display: inline-block;
		margin: 0 10px;
		transition: color 300ms linear 0s, background-color 300ms linear 0s;
		
		&:hover{
			background: $blue;
			color:#fff;
		}
	}
	
	span{display: none}
}

/**
 * ==============================
 * transitions
 * ==============================
 */
.content article{
  time,p{transition: color 0.3s linear 0s}
}

/**
 * ==============================
 * @media
 * ==============================
 */

@media (max-width:$screen-md){
 .home-template .content{width:310px*2}
} 

@media (max-width:$screen-sm){
	.home-template, .archive-template, .tag-template{ 
		.wrapper{
				margin-top: 0;
		}
		
		.content{
			margin:0;
			width:100%;
			overflow: hidden !important;
			
			article{
				transition:none !important;
				transform: translateY(0) !important;
				width: 100%;
				height: auto;
				position: relative !important;
				top:auto !important;
				left: auto !important;
				margin-bottom: 0;
			}
		}
		.pagination{
			margin-bottom: 0;
			
			a{
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
}

